<div class="m-3">
    <div class="container">
        <h3>Detalle del pedido</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Items</th>
                    <th class="cantidad" scope="col">Cantidad</th>
                    <th class="item" scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let producto of productos">
                    <td class="table-data">

                        <h5 class="nombre">{{producto.nombre}}</h5>
                    </td>
                    <td class="">
                        <div class="precio">
                            <h5>{{producto.cantidad}}</h5>
                        </div>
                    </td>
                    <!-- <td class="item" style="font-size: 140%">${{producto.precio}}</td> -->
                    <!-- <td class="item" style="font-size: 140%">${{producto.precio * producto.cantidad}}</td> -->
                    <td class="item" style="font-size: 140%">${{producto.subTotal}}</td>

                    <!-- <app-item-carrito [producto]="producto"></app-item-carrito> -->
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-right">
                        <span class="pyBadge">Total:
                            {{ montoTotal | currency: "$" }}
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
        <hr>
        <!-- <div class="row">
            <div class="col-md">
                <h6>Total:</h6>
            </div> 
            <div class="col-md">
                <h6>&nbsp;&nbsp;&nbsp;$</h6>
            </div>
        </div> -->
        <h6>Fecha y Hora de entrega estimada: {{pedido.fechaEntrega | date:'short'}}</h6>
        <h6>Dirección: {{pedido.direccion}}</h6>
        <h6>Método de pago: {{pedido.metodoPago}}</h6>

        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                data-bs-target="#modalConfirmacion">Confirmar</button>
            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#modalCancelacion">Cancelar</button>
        </div>
    </div>

    <!-- Modal Confirmacion-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Compra Realizada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Todo listo Rayo!
                    Enviaremos tu pedido a {{pedido.direccion}}.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)='finalizarCompra()'>Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cancelacion-->
    <div class="modal fade" id="modalCancelacion" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar compra</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea cancelar la compra?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                        Continuar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)='finalizarCompra()'>Si, Cancelar</button>
                </div>
            </div>
        </div>
    </div>


</div>