<div class="container">
    <div *ngIf="productos.length != 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th class="cantidad" scope="col">Cantidad</th>
                    <th class="item" scope="col">Precio</th>
                    <th class="item" scope="col">Subtotal</th>
                    <th class="item" sscope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td class="table-data">
                        <div class="img-producto">
                            <img [src]="producto.image" class="cart-img" alt="{{producto.nombre}}">
                            <i class="bi bi-trash eliminar" (click)="eliminarProd(producto)" style="cursor:pointer">
                                Eliminar</i>
                        </div>
                        <h5 class="nombre">{{producto.nombre}}</h5>
                    </td>
                    <td class="">
                        <div class="input-group" style="width: 130px">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                style="width:40px" (click)="disminuirCant(producto)">-</button>
                            <input type="text" class="form-control" value="{{producto.cantidad}}">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                style="width: 40px" (click)="aumentarCant(producto)">+</button>
                        </div>
                        <div class="precio">
                            <h5>${{producto.precio}}</h5>
                        </div>
                    </td>
                    <td class="item" style="font-size: 140%">${{producto.precio}}</td>
                    <td class="item" style="font-size: 140%">${{producto.precio * producto.cantidad}}</td>
                    <td class="item" style="font-size: 130%">
                        <i class="bi bi-trash" (click)="eliminarProd(producto)" style="cursor:pointer"></i>
                    </td>

                    <!-- <app-item-carrito [producto]="producto"></app-item-carrito> -->
                </tr>
            </tbody>
        </table>
        <div *ngIf="pesoTotal > 10" class="alert alert-danger" role="alert">
            Peso excedido! Elimine algun articulo para continuar
        </div>
        <div *ngIf="dimensionTotal > carrito.dimensionMochila" class="alert alert-danger" role="alert">
            Dimension excedida! Elimine algun articulo para continuar
        </div>
        <div class="bottom-section">
            <h1>Total ${{montoTotal}}</h1>
            <button [disabled]="dimensionTotal > carrito.dimensionMochila ||pesoTotal > 10" type="button"
                class="btn btn-primary" (click)="continuarCompra()">
                Continuar Compra
            </button>
        </div>
    </div>



    <div *ngIf="productos.length === 0" class="mensaje">
        <h3>Aun no tienes productos en el carrito!</h3>
        <h5>Comienza a comprar</h5>
        <button type="button" class="btn btn-primary" (click)="irComercio()">Comercios</button>
    </div>
</div>