<div class="container">
    <div *ngIf="productos.length != 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td class="table-data">
                        <div class="img-producto">
                            <img [src]="producto.image" class="cart-img" alt="{{producto.nombre}}">
                        </div>
                        <h5>{{producto.nombre}}</h5></td>
                    <td class="">
                        <div class="input-group" style="width: 130px">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="width:40px"
                                (click)="disminuirCant(producto)">-</button>
                            <input type="text" class="form-control" value="{{producto.cantidad}}">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="width: 40px"
                                (click)="aumentarCant(producto)">+</button>
                        </div>
                    </td>
                    <td style="font-size: 140%">${{producto.precio}}</td>
                    <td style="font-size: 140%">${{producto.precio * producto.cantidad}}</td>
                    <td style="font-size: 130%">
                        <i class="bi bi-trash"  (click)="eliminarProd(producto)" style="cursor:pointer"></i>
                    </td>

                    <!-- <app-item-carrito [producto]="producto"></app-item-carrito> -->
                </tr>
            </tbody>
        </table>
        <h1>Total ${{montoTotal}}</h1>
    </div>



    <div *ngIf="productos.length === 0" class="mensaje">
        <h3>Aun no tienes productos en el carrito!</h3>
        <h5>Comienza a comprar</h5>
        <button type="button" class="btn btn-primary" (click)="irComercio()">Comercios</button>
    </div>
</div>