<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">DeliverEat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/comercios" routerLinkActive="active">Comercios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/productos" routerLinkActive="active">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/carrito" routerLinkActive="active">Carrito</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <img src="../../../assets/user-img.jpg" class="user-img">
            </ul>
        </div>
    </div>
</nav>